html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"),
    url("../fonts/MontserratRegular.woff2") format("woff2"),
    url("../fonts/MontserratRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat SemiBold"),
    url("../fonts/MontserratSemiBold.woff2") format("woff2"),
    url("../fonts/MontserratSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"),
    url("../fonts/MontserratBold.woff2") format("woff2"),
    url("../fonts/MontserratBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat ExtraBold"),
    url("../fonts/MontserratExtraBold.woff2") format("woff2"),
    url("../fonts/MontserratExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
textarea {
  border: 0px;
  /* background-color: transparent; */
  resize: none;
}
.visually-hidden {
  position: fixed;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
.btn-reset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
:root {
  --color-dark: #000;
  --color-darkish: #666666;
  --color-night: #414141;
  --color-greyish: #cacaca;
  --color-grey: #e5e5e5;
  --color-light: #fff;
  --color-active: #e27637;
  --color-btn: #c47807;
  --color-orange: #f3c385;
}

.page {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-light);
  margin: 0;
}
.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 75px;
}

.btn {
  margin: 0;
  border-radius: 16px;
  font-family: inherit;
  text-align: center;
  color: var(--color-light);
  outline: none;
}
.btn:hover {
  background-color: var(--color-orange);
}
.btn:focus {
  background-color: var(--color-orange);
}

.btn:active {
  background-color: var(--color-active);
}
.how {
  padding-top: 4%;
  margin-bottom: 30px;
  width: 100%;
}

.how__title {
  padding: 0;
  font-size: 36px;
}
.how-list {
  padding-top: 3%;
  padding-bottom: 2.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 85px;
}

.how__content {
  gap: 50px;
  display: none;
}

.how__content-left {
  width: 48%;
}

.how__content-text {
  width: 80%;
}
.how__title-h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--color-dark);
}
.how__desc {
  padding-top: 1%;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 2%;
  color: var(--color-dark);
}

.opacity {
  opacity: 0;
}
.how-list__btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  backdrop-filter: contrast(0.92);
}
.how-list__btn:hover {
  color: var(--color-btn);
}
.how-list__btn:focus {
  color: var(--color-dark);
  outline: 1px solid var(--color-greyish);
  outline-offset: 5px;
}
.how-list__btn:active {
  color: var(--color-active);
  outline: none;
}
.how-list__btn--active {
  color: var(--color-active);
}

.how__content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how__btn-left {
  border-color: transparent;
  margin-right: 15px;
  width: 33%;
  padding: 3% 5%;
  font-weight: 700;
  background-color: var(--color-btn);
  color: var(--color-light);
}
.how__btn-right {
  width: 30%;
  padding: 3% 5%;
  background-color: transparent;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  -webkit-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.how__btn-right:hover,
.how__btn-right:focus {
  background-color: var(--color-darkish);
  color: var(--color-light);
}
.how__btn-right:active {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.how__content-right {
  background-repeat: no-repeat;
  background-size: cover;
  width: 49%;
  border-radius: 32px;
}
.how__content[data-target="one"] .how__content-right {
  background-image: url("../img/how1.jpg");
}
.how__content[data-target="two"] .how__content-right {
  background-image: url("../img/how2.jpg");
}
.how__content[data-target="three"] .how__content-right {
  background-image: url("../img/how3.jpg");
}
.how__content[data-target="four"] .how__content-right {
  background-image: url("../img/how4.jpg");
}
@media (max-width: 1200px) {
  .how__btn-left {
    width: 45%;
  }
  .how__btn-right {
    width: 36%;
  }
}

@media (max-width: 992px) {
  .how-list {
    padding-top: 7%;
    gap: 156px;
  }
  .how__content {
    flex-wrap: wrap-reverse;
    padding-top: 5%;
  }
  .how__content-left {
    width: 100%;
  }
  .how__content-right {
    min-height: 284px;
    width: 100%;
    border-radius: 24px;
  }
  .how__title-h3 {
    padding: 0;
  }
  .how__desc {
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
  }
  .how__btn-left {
    margin-right: 5%;
    padding: 2.7%;
    min-width: 26%;
  }
  .how__btn-right {
    padding: 2.7%;
    min-width: 22%;
  }
}
@media (max-width: 768px) {
  .how {
    margin-bottom: 25px;
  }
  .how__title {
    padding-top: 9%;
    padding-bottom: 3%;
    font-size: 24px;
    line-height: 30px;
  }
  .how-list {
    padding-top: 4%;
    gap: 42px;
  }
  .how-list__btn {
    font-size: 14px;
    line-height: 17px;
  }
  .how__content {
    padding: 0;
    min-height: 669px;
    gap: 20px;
  }
  .how__content-left {
    width: 100%;
  }
  .how__title-h3 {
    padding: 0;
    font-size: 18px;
    line-height: 32px;
  }
  .how__desc {
    padding-top: 2%;
    padding-bottom: 8%;
    font-size: 14px;
    line-height: 28px;
    width: 100%;
  }
  .how__btn-left {
    margin-right: 10px;
    min-width: 55%;
    border-radius: 8px;
  }
  .how__btn-right {
    min-width: 40%;
    border-radius: 8px;
  }
  .how__content-right {
    min-height: 160px;
  }
}
